<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">

        <title>{{ title }}</title>
    </head>

    <body>
        <h1>{{ place }}</h1>
        <img src={{ image }}></img>

        <p><font size="7">{{ description }}</font></p>
        {% for i in in_place  %}
            <ul><font size="6"><li>{{ i }}</li></font></ul>
        {% endfor %}
    </body>
</html>
