<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">

        <title>Error404</title>
</head>

<body>
    <div style="background-color: #BAB1ED; display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <p style="text-align: right;"><font size="15">Error 404!</font></p>
    <p style="text-align: left;"><font size="7">Такого места нет</font></p>
    </div>

    <footer style="position: fixed; bottom: 0; text-align: center; width: 100%;">
        <font size="5"><a href="https://t.me/beta_guard_bot">Бот</a></font>
        <font size="5"><a href="http://192.168.68.125:8080">Главная страница</a></font>
        <font size="5"><a href="http://192.168.68.125:8080/О_нас">О нас</a></font>
    </footer>
</body>
</html>
